  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    margin: 0;
  }
  
  #timer-container {
    text-align: center;
  }
  
  #timer, #message {
    color: white;
    font-size: 5em;
    margin: 0;
    text-shadow: 
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000,
    -2px  0   0 #000,
     2px  0   0 #000,
     0   -2px 0 #000,
     0    2px 0 #000;
}

  #timer {
    color: white;
    font-size: 5em;
    margin: 0;
  }
  
  #message {
    color: white;
    font-size: 5em;
  }
